# System:
Thumbs.db
.DS_Store
*.swp
*~
Desktop.ini

# Version Control Systems:
.svn
CVS
.hg
.bzr

# Android:
local.properties
proguard/**
target/**
bin/**
obj/**
doc/**
gen/**
gdb.setup
gdbserver

# Eclipse:
.settings

# IntelliJ / Android Studio:
idea/workspace.xml
idea/tasks.xml

# Crashlytics
res/values/com_crashlytics_export_strings.xml
